/* Page title hierarchy description 

h3 - section title (dates), h4 - subtitle (bullet points of the content), h5 - sub-subtitle (details of the parent title)*/

/*when clicking on the sidenav open button, no longer useful
body {
  
  transition: background-color 0.5s;
}
*/

.real-content h3 {
  display: inline-block;
  margin: auto;
  /* padding: 1vh;
  border-bottom: solid 3px #fdb4b4; */
  font-weight: 700;
}

.real-content h4 {
  font-weight: 600;
  margin: 1.2rem 0;
}

.real-content h5 {
  margin: 1rem 0;
}

.icon {
  margin-right: 0.5rem;
  height: 2rem;
  width: auto;
}

.content-container {
  position: relative;
  top: 0;
  display: inline-block;
  width: 65vw;
  margin-left: 22vw;
}

.content-container p {
  margin: 1rem 0;
}

.side-nav {
  /* display: block;
  float: left; */
  display: inline-block;

  position: -webkit-sticky; /*safari*/
  position: sticky;

  top: 20vh;
  width: auto;
  padding-bottom: 5vh;
  padding-right: 1vw;
  margin-left: 3vw;
  text-align: center;
  border-right: solid 4px #fdb4b4;
}

.side-nav h3,
.side-nav h4,
.side-nav h5 {
  margin: 1rem;
}

.side-nav a {
  text-decoration: none;
  display: block;
  /* padding-left: 1rem; */
  margin-left: 1vw;
  color: #a0a0a0;
  font-size: 1.2rem;
  /*the animation of the text after the sidenav is open*/
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fdb4b4;
  text-decoration: none;
}

.header-img {
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 3rem;
  color: #fdb4b4;
  opacity: 0.7;
  /*the z-index is inline with the one on the homepage (for the full screen video overlay)*/
  z-index: 2;
}

.header-img img {
  width: 100vw;
}

/* the initial black side nav*/

/* #open-nav {
  position: fixed;
  right: 3vw;
  bottom: 40vh; */
/*the z-index of the side nav is 4, which can cover the arrow after activated*/
/*this is not necessary, just in case sometimes the open/closeNav function doesn't work*/
/* z-index: 3;
  transition: 0.5s;
}

#close-nav {
  position: fixed; */
/*the right distance is set with regard to side nav width, shown below as 15vw*/
/* right: 17vw;
  bottom: 40vh;

  z-index: 5;
  transition: 0.2s; */
/*initially hidden, later activated using javascript*/
/*do not use display:none here, cuz the transition doesn't work on this property*/
/* opacity: 0;
} */

/* .side-nav {
  color: #a0a0a0;
  width: 0;
  height: 100%;
  float: right;
*/
/*position the side navbar to the right of the page*/
/* position: fixed;
  top: 0;
  right: 0;

  background-color: #000;
  z-index: 4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10vh;
}

.side-nav h5 {
  margin-left: 1vw;
}

.side-nav h3 {
  margin-bottom: 1rem;
}

#open-nav:hover,
#close-nav:hover {
  border-color: #f1f1f1;
  transition: 0.5s;
} */

.page-title {
  /*the following 4 lines are for positioning it at the center of the image*/
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 5rem;
  color: #fff;
}

/* .sub-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1.2rem 0;
}

.sub-sub-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 1rem 0; 
}

.paragraph {
  margin-bottom: 0.8rem;
} */

section {
  margin: 3rem 0;
}

.content-img {
  /*the following 3 lines are for centering the image*/
  display: block;
  margin: 2rem auto; /*left and right auto ensures it's centered*/

  width: 60vh;
}
