/*style sheet for home page */
.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 30px;
}

.container {
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../resources/homepage.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -15vw;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #f0f0bd;
  z-index: 2;
  opacity: 0.2;
}

.header-content {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.navbar {
  z-index: 5;
}

.header-content h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.start-btn {
  display: inline-block;
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  border: none;
  margin-top: 75vh;
}

.down-animation {
  -moz-animation: move-down-bounce 2s infinite;
  /* -webkit-animation: move-down-bounce 2s infinite; */
  animation: move-down-bounce 2s infinite;
}

.start-btn i {
  border-color: #333;
}

.start-btn:hover {
  text-decoration: none;
  transition: 0.3s;
  color: #f6ede7;
}

.start-btn:hover .start-arrow {
  transition: 0.3s;
  color: #f6ede7;
  border-color: #f6ede7;
}

#content-begin {
  margin-top: 3rem;
}

.section {
  padding: 6rem 0;
}

.section-bgcolor {
  background: #f6ede7;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.section:nth-child(even) img {
  order: 2;
}

@media (max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
