/*universal styling for all pages*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*hide scroll bar for ie 10+*/
  -ms-overflow-style: none;
  /*hide scroll bar for firefox*/
  scrollbar-width: none;
}

/*hide scroll bar for safari and chrome*/
*::-webkit-scrollbar {
  display: none;
}

/* the :target pseudo selector is the selected section of the page*/
/* ::before selector together with content attribute can add content before the selected element*/
/* here they are used to set the offset for the in page anchor because of the fixed navigation bar*/
:target::before {
  content: "";
  /*the default display for the content is inline*/
  display: block;
  height: 40vh;
  margin-top: -40vh;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans-latin-regular.eot");
  src: local("Noto Sans"), local("Noto Sans"),
    url("../fonts/noto-sans-latin-regular.eot") format("embedded-opentype"),
    url("../fonts/noto-sans-latin-regular.woff") format("woff"),
    url("../fonts/noto-sans-latin-regular.ttf") format("truetype"),
    url("../fonts/noto-sans-latin-regular.svg") format("svg");
}

body {
  margin: 0;
  font-family: "Noto Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  /*add padding to body so that the actual content won't be blocked by the navbar*/
  padding-top: 55px;
}

nav {
  margin-top: 14px; /*block the default igem navbar*/
}

#navigation {
  display: block;
}

#real-content .navbar {
  background-color: #fdb4b4;
  position: fixed !important;
  top: 0;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  height: 5rem;
  z-index: 1000;
}

#real-content .navbar a:visited {
  color: #212529;
}

#real-content .nav-item {
  margin: 0 1rem;
}

#real-content .nav-item a {
  transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

#real-content .nav-item a:hover,
#real-content .nav-item a:focus:active {
  color: #fff;

  background-color: grey;
}

.navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin: 0 1rem;
  height: 8rem;
  width: auto;
}

#real-content .dropdown-menu {
  border: 0;
  border-radius: 0;
  background-color: #fdb4b4;
  font-size: 1.2rem;
  padding: 0;
  width: 15rem;
  margin-left: -4rem;
  margin-top: 0.95rem;
  text-align: center;
}

#real-content #human-practice-dropdown {
  margin-left: -1.5rem;
}

#real-content .dropdown-item {
  height: 3rem;
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
}

footer {
  background-color: #fda9a9;
  color: #333;
  font-size: 80%;
  width: 100vw;
}

.flex-container-footer {
  padding: 2vh 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.flex-item {
  margin: 20px;
}

footer .team-collaboration ul {
  padding: 0;
  list-style-type: none;
}

footer .team-collaboration a {
  text-decoration: none;
  color: #333;
}

footer .team-collaboration a:hover {
  color: #6a6afb;
}

#copyright {
  text-align: center;
  font-weight: 400;
  padding-bottom: 1vh;
}

/* the following several styles are for the arrows*/

i {
  border: solid #888;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-right: 0;
}

.arrow-left {
  transform: rotate(135deg);
  /*add the next line just in case someone's using a really old browser :)*/
  -webkit-transform: rotate(135deg);
}

.arrow-right {
  transform: rotate(-45deg);
  /*add the next line just in case someone's using a really old browser :)*/
  -webkit-transform: rotate(-45deg);
}

.arrow-down {
  transform: rotate(45deg);
  /*add the next line just in case someone's using a really old browser :)*/
  -webkit-transform: rotate(45deg);
}
