/*universal styling for all pages*/

* {
  box-sizing: border-box;
  /*hide scroll bar for ie 10+*/
  -ms-overflow-style: none;
  /*hide scroll bar for firefox*/
  scrollbar-width: none;
}

/*hide scroll bar for safari and chrome*/
*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  /*add padding to body so that the actual content won't be blocked by the navbar*/
  padding-top: 55px;
}

#navigation {
  display: block;
}

.navbar {
  background-color: #f2d2bd;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  padding: 0;
}
